/*котолог*/
.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .2s;

}

@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 25%;
    }
}
.product {
    display: block;
    border: 1px solid salmon;
    border-radius: 3px;
    position: relative;
    background: peachpuff;
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #800000;
    /*z-index: 0;*/
    height: 200%;
}
.products {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;
}
.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}
.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}
.product:hover .product-photo img {
    transform: scale(1.05);
}
.product p {
    position: relative;
    margin: 0;
    font-size: 1em;
    line-height: 1.4em;
    overflow: hidden;
}

.product:hover .product-preview {
    transform: translateY(0);
    opacity: 1;
}

.product-name{
    margin-bottom: 12px;
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
.product-to-basket{
    display: block;
    text-align: center;
    background: FireBrick;

}
.btn{
    font-weight: 500;
    text-align: center;
    border: 0;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}
.product-price{
    color: #800000;
    font-weight: bolder;

}