/*топ 10 лучших товаров*/
.TOP{
    background-color: white;
    min-width: 600px;
    /*padding:20px;*/
    overflow: hidden
}

/*слайды*/
#scr {
    margin:20px auto;
    width: 600px;
    height: 300px;
    margin-top:20px;
    background-color: white;
    background-size:cover;
    border-radius:10px;
}
