.entry_tab{
    t-align: center;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    width: 460px;
    height: 300px;
    background: peachpuff;
    color:  #800000;
}
TABLE {
    margin: 0 auto;
    background: #800000; /* Цвет фона таблицы */
    color: white; /* Цвет текста */
    /*height: 300px;*/
}
TD {
    background: peachpuff;
    color: black;
    text-align: center;

}
TH{
    border: 1px solid #fff;
    text-align: left;
}