.article{
    display: block;
    background: peachpuff;
    margin: 0 auto;
    min-height: 400px;
}
.catalog-tovar-name{
    font:32px tempus sans itc, Monotype Corsiva, sans-serif;
    width: 200px;
    text-align: left;
    display: inline-block;
}
.catalog-tovar-refactor{
    font:28px tempus sans itc, Monotype Corsiva, sans-serif;
    width: 200px;
    text-align: right;
    float: right;
    text-decoration: none;
    display: inline-block;
    height: 42px;
    color: black;
    padding: 0 20px;
}
.catalog-tovar-info-span{
    font:28px tempus sans itc, Monotype Corsiva, sans-serif;
}
.layer1 {
    float: left; /* Обтекание по правому краю */
    padding: 10px; /* Поля вокруг текста */
    width: 245px; /* Ширина блока */
    display: inline-block;
}
.info{
    /*background: FireBrick;*/
    display: inline-block;
    width: 450px;
    height: 200px;
    float: left; /* Обтекание по правому краю */
}
.product-to-basket2{
    /*display: block;*/
    border: none;
    text-align: center;
    background: FireBrick;
    border-radius: 25px;
    cursor: pointer;
    width: 100px;
    height:inherit;
    margin: 0 5px;
    color: #fff;
    font:17px tempus sans itc, Monotype Corsiva, sans-serif;
}
.product-to-basket2:focus{
    outline: none;
}
.to_basket{
    display: block;
    /*background: #48b27f;*/
    width: 535px;
    height: 45px;
    float: right;
}
.catalog-tovar-basket{
    display: block;
    text-align: center;
    float: left;
    width: 100px;
    height:45px;
    margin: 0 5px;
    color: #070304;
    font:17px tempus sans itc, Monotype Corsiva, sans-serif;
}
.catalog-tovar-quantity{
    border: none;
    padding: 0 5px;
    text-align: center;
    width: 100px;
    height: 45px;
    display: inline-block;
    font: 20px tempus sans itc, Monotype Corsiva, sans-serif;
}
.catalog-tovar-quantity:focus{
    outline: none;
}
.catalog-tovar-price{
    margin: 12px 0;
    height: 20px;
    font: 20px tempus sans itc, Monotype Corsiva, sans-serif;
    display: block;
}
.comment-add{
    border-top: solid 2px FireBrick;
    padding: 15px;
    margin: 20px 0 0 0;
    background: peachpuff;
    display: block;
    width: 770px;
    height: 240px;
}
.catalog-name{
    resize: none;
    padding: 5px;
    width: 300px;
    font:16px tempus sans itc, Monotype Corsiva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    display: block;
    border: solid 2px FireBrick;
    transition: border-bottom 0.4s
}
.catalog-info{
    resize: none;
    padding: 5px;
    width: 300px;
    height: 100px;
    font:16px tempus sans itc, Monotype Corsiva, sans-serif;
    border: none;
    background-color: white;
    margin: 5px auto;
    display: block;
    border: solid 2px FireBrick;
    transition: border-bottom 0.4s
}
.catalog-submit {
    display: block;
    border: none;
    text-align: center;
    background: FireBrick;
    border-radius: 25px;
    cursor: pointer;
    width: 200px;
    height: inherit;
    margin: 0 auto;
    color: #fff;
    font: 17px tempus sans itc, Monotype Corsiva, sans-serif;
}
.comment{
    border-top: dotted 2px FireBrick;
    padding: 15px;
    margin: 20px 0 0 0;
    background: peachpuff;
    display: block;
    width: 770px;
    min-height: 200px;
}
.tovar-name{
    display: block;
    font: 24px tempus sans itc, Monotype Corsiva, sans-serif;
    height: 24px;
    width: 200px;
    float: left;
}
.tovar-date{
    display: block;
    font: 20px tempus sans itc, Monotype Corsiva, sans-serif;
    height: 24px;
    width: 200px;
    float: right;
    text-align: right;
}
.tovar-comment{
    display: block;
    font: 17px tempus sans itc, Monotype Corsiva, sans-serif;
    width: 690px;
    margin: 10px 0 0 70px;
}
